Flujo_NodeRed/flows (13).json
[{"id":"446d7ec2.8d4cb","type":"tab","label":"DashConfig","disabled":false,"info":""},{"id":"6dbd9e87.ca8f9","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"max-temperatura","server":"9b51d6c3.003ad8","x":230,"y":180,"wires":[["b7ec6863.219d48","c89372d8.87ae7"]]},{"id":"b7ec6863.219d48","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"eff7da84.132b48","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"max-humedad","server":"9b51d6c3.003ad8","x":300,"y":700,"wires":[["17535622.6b631a"]]},{"id":"17535622.6b631a","type":"debug","z":"446d7ec2.8d4cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":700,"wires":[]},{"id":"f939726f.c6e37","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"prediccion-temperatura","server":"9b51d6c3.003ad8","x":230,"y":500,"wires":[["4e99f6c7.4dd658","58ca28c8.025cf8"]]},{"id":"4e99f6c7.4dd658","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":520,"wires":[]},{"id":"99d8c438.01dcf8","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1300,"wires":[]},{"id":"5507f2fd.4c169c","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"alerta-temperatura","server":"9b51d6c3.003ad8","x":250,"y":1300,"wires":[["99d8c438.01dcf8"]]},{"id":"432487ac.a7e4b8","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"temperatura","server":"9b51d6c3.003ad8","x":250,"y":80,"wires":[["3d0fa0d5.4b378","b6e30262.e4e98","5fb3e86e.094fa8"]]},{"id":"3d0fa0d5.4b378","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"42ec6863.547ba8","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"humedad","server":"9b51d6c3.003ad8","x":320,"y":620,"wires":[["9c3b1150.1d8b6","1e2b27d4.e4aec8","82bc048.d18d6f8"]]},{"id":"9c3b1150.1d8b6","type":"debug","z":"446d7ec2.8d4cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":660,"wires":[]},{"id":"3ba82ca0.89ba34","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"prediccion-humedad","server":"9b51d6c3.003ad8","x":280,"y":1040,"wires":[["efa8efd2.9bbd2","60e77003.4a43a"]]},{"id":"efa8efd2.9bbd2","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1060,"wires":[]},{"id":"9c760d5c.1b1c","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"mean-humedad","server":"9b51d6c3.003ad8","x":300,"y":760,"wires":[["19b4e935.d52767"]]},{"id":"19b4e935.d52767","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":760,"wires":[]},{"id":"75f3437.71dadbc","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"mean-temperatura","server":"9b51d6c3.003ad8","x":250,"y":260,"wires":[["b8788abd.47f938","9787bf26.d6e11"]]},{"id":"b8788abd.47f938","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"58b13ef5.e475c","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"median-temperatura","server":"9b51d6c3.003ad8","x":240,"y":320,"wires":[["ad8e956a.470e78"]]},{"id":"ad8e956a.470e78","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"305b6587.990aba","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"median-humedad","server":"9b51d6c3.003ad8","x":290,"y":820,"wires":[["1116b73a.b71149"]]},{"id":"1116b73a.b71149","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":820,"wires":[]},{"id":"65597d8f.376b54","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"min-temperatura","server":"9b51d6c3.003ad8","x":260,"y":380,"wires":[["34e4f957.5bd816"]]},{"id":"34e4f957.5bd816","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":380,"wires":[]},{"id":"24b82f77.3c9fa","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"min-humedad","server":"9b51d6c3.003ad8","x":280,"y":880,"wires":[["29b96b6a.c0b464","3b909c41.c79f04"]]},{"id":"29b96b6a.c0b464","type":"debug","z":"446d7ec2.8d4cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":900,"wires":[]},{"id":"65d9bd7a.1cac64","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"std-temperatura","server":"9b51d6c3.003ad8","x":260,"y":440,"wires":[["55a7515e.e5dab"]]},{"id":"55a7515e.e5dab","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"fa8c5197.4a046","type":"amqp in","z":"446d7ec2.8d4cb","name":"","topic":"","iotype":"4","ioname":"std-humedad","server":"9b51d6c3.003ad8","x":290,"y":960,"wires":[["faa43ac2.f84718","cd3fedcb.5e072"]]},{"id":"faa43ac2.f84718","type":"debug","z":"446d7ec2.8d4cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":980,"wires":[]},{"id":"b6e30262.e4e98","type":"ui_gauge","z":"446d7ec2.8d4cb","name":"","group":"f57caa66.df6e68","order":2,"width":8,"height":3,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":40,"wires":[]},{"id":"5fb3e86e.094fa8","type":"ui_chart","z":"446d7ec2.8d4cb","name":"","group":"f57caa66.df6e68","order":9,"width":8,"height":4,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":120,"wires":[[]]},{"id":"c89372d8.87ae7","type":"ui_text","z":"446d7ec2.8d4cb","group":"f57caa66.df6e68","order":24,"width":8,"height":1,"name":"","label":"Max_Temp","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":160,"wires":[]},{"id":"9787bf26.d6e11","type":"ui_text","z":"446d7ec2.8d4cb","group":"f57caa66.df6e68","order":21,"width":8,"height":1,"name":"","label":"Mean_Temp","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":240,"wires":[]},{"id":"58ca28c8.025cf8","type":"ui_text","z":"446d7ec2.8d4cb","group":"f57caa66.df6e68","order":18,"width":8,"height":1,"name":"","label":"Pred_Temp","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":480,"wires":[]},{"id":"1e2b27d4.e4aec8","type":"ui_gauge","z":"446d7ec2.8d4cb","name":"","group":"80fc41c8.080d6","order":2,"width":8,"height":3,"gtype":"gage","title":"Humedad","label":"%H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":620,"wires":[]},{"id":"82bc048.d18d6f8","type":"ui_chart","z":"446d7ec2.8d4cb","name":"","group":"80fc41c8.080d6","order":9,"width":8,"height":4,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":580,"wires":[[]]},{"id":"3b909c41.c79f04","type":"ui_text","z":"446d7ec2.8d4cb","group":"80fc41c8.080d6","order":24,"width":8,"height":1,"name":"","label":"Min_Hum","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":860,"wires":[]},{"id":"cd3fedcb.5e072","type":"ui_text","z":"446d7ec2.8d4cb","group":"80fc41c8.080d6","order":21,"width":8,"height":1,"name":"","label":"Std_Hum","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":940,"wires":[]},{"id":"60e77003.4a43a","type":"ui_text","z":"446d7ec2.8d4cb","group":"80fc41c8.080d6","order":18,"width":8,"height":1,"name":"","label":"Pred_Hum","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":1020,"wires":[]},{"id":"9b51d6c3.003ad8","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"f57caa66.df6e68","type":"ui_group","name":"Temperatura","tab":"117421c3.c0fa4e","order":2,"disp":true,"width":"10","collapse":false},{"id":"80fc41c8.080d6","type":"ui_group","name":"Humedad","tab":"117421c3.c0fa4e","order":1,"disp":true,"width":"10","collapse":false},{"id":"117421c3.c0fa4e","type":"ui_tab","name":"Data_Logger","icon":"Temp","disabled":false,"hidden":false}]